# ==== Python / IDE ====
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

.vscode/
.idea/

# ==== Virtual env ====
venv/
.venv/

# ==== Data & models ====
backend/data/
backend/mlruns/
backend/models/
backend/__pycache__/
backend/*.joblib

# Nơi chứa thư mục file .csv/.parquet/.pkl 

# ==== Streamlit / cache ====
.streamlit/
.cache/
